search-panel {
    position: absolute;
    bottom: 0px;
    left: 0%;
    right: 0%;
    transform: translateY(100%);

    background-color: rgba(0, 0, 0, 0.5);
    font-size: 36px;
}

search-panel.open {
    transform: translateY(0);
    bottom: var(--navbar-height);
}

search-panel ul {
    margin: 0px;
    font-size: smaller;
}

search-panel ul li {
    list-style-type: none;
    padding: 0.25em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

search-panel input {
    margin: 1em;
    width: calc(100% - 2em);
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid gray;
    color: white;
}